/* Button used to open the chat form - fixed at the bottom of the page */
// .chat-popup{
// margin-right: 5ch;
// }
// .open-button {
//   background-color: #555;
//   color: white;
//   padding: 16px 20px;
//   border: none;
//   cursor: pointer;
//   opacity: 0.8;
//   position: fixed;
//   bottom: 23px;
//   right: 28px;
//   width: 280px;
// }

// /* The popup chat - hidden by default */
// .form-popup {
//   display: none;
//   position: fixed;
//   bottom: 0;
//   right: 15px;
//   border: 3px solid #f1f1f1;
//   z-index: 9;
// }

// /* Add styles to the form container */
// .form-container {
//   max-width: 300px;
//   padding: 10px;
//   background-color: white;
// }

// /* Full-width textarea */
// .form-container textarea {
//   width: 100%;
//   padding: 15px;
//   margin: 5px 0 22px 0;
//   border: none;
//   background: #f1f1f1;
//   resize: none;
//   min-height: 200px;
// }

// /* When the textarea gets focus, do something */
// .form-container textarea:focus {
//   background-color: #ddd;
//   outline: none;
//   margin-right:50ch;
// }

// /* Set a style for the submit/login button */
// .form-container .btn {
//   background-color: #04AA6D;
//   color: white;
//   padding: 16px 20px;
//   border: none;
//   cursor: pointer;
//   width: 100%;
//   margin-bottom:10px;
//   opacity: 0.8;
// }

// .chat-mat-item{
//     margin-right:55ch;
//     flex:1;
// }

// .textarea-item{
//     margin-right:40px;
//     display:flex;
//     flex-direction: column;

// }

// .mat-input-div{
//     padding-right: 10ch;
// }

// .chat-input-item{
    
// }

.chatform{
    // width: 600px;
    // margin: 0 auto;
    // margin-top: 50px;
    margin-right:87ch;
    margin-bottom:10ch;
  }

  .mat-card-item{
    margin-bottom:10ch;
    background-color: #4D4DCB;
  }

  .example-card {
    max-width:500px;
    min-width:500px;
    // height: 595px;
    // width:300px;
    height:617px;
    width:500px;
    background-color:#FCF0F0;
    position:fixed; 
    right: 0px;
    bottom: 0px;
   margin:0 7ch 33ch 0ch;
   border-radius: 30px !important;
   border: #000 !important;
   filter:  /* the more shadow you add the thicker the border will be */
    drop-shadow(0px 0px 1px #94949b)
    drop-shadow(0px 0px 1px #bbbbbd) 
  }

  .example-card-xs {
    // height: 595px;
    // width:300px;
    background-color:#FCF0F0;
  }
  
  .example-header-image {
    background-image: url("/assets/Oxylym_logo.png");
    background-size: cover;
    
  //  margin-top: 2px;
  }

  // .oxylium-logo{
  //   background-image: url("/assets/bicabotImage.png");
  //   background-size:cover;
  // }
  // mat-card-header{
  //   background-color: #4D4DCB;
  // }
 .chat-header{
  background-color:white;
  border: 55px solid #000;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border: #000 !important;
  // background: linear-gradient(168deg, #4D4DCB 80%,  #4D4DCB 80%,  #4D4DCB 80%, 
  //     transparent 100%);
 }
  .header-title{
    font-size: 1em;
    font-style: bolder;
    font-weight: 500;
    color:#DF5556;
    margin-top:2ch;
    margin-right:0.2ch;
  // background-color: #4D4DCB;
  //  padding-top: 2ch;
  //  padding-bottom: 5ch;
 //   padding-left: 2ch;
  //  padding-right: 2ch;
  }

  .header-title-xs{
    font-size: 1em;
    font-style: bolder;
    font-weight: 500;
    color:#DF5556;
    margin-top:1ch;
    margin-right:0.2ch;
  }
//   .task-header {
//     //  background-color: #4D4DCB;
// //     padding: 5px;
// //      height: 20px;
//  }
 .mat-close-button{
float:right;
background-color:white;
color:white;
width:2px;
 }
.fx-spacer {
    flex: 1 1 auto;
}

.logo-label{
  font-size:smaller;
    // font-style: italic;
    font-weight:1;
    color:lightgrey;
    margin-left: 25ch;
}
// .mat-icon-close{
//   background-color:  #4D4DCB;
// }

