.chatcontrol{
    // float: left;
     width: 100%;
  
    .chatinput{
      width: 80%;
      float: left;
      border-radius: 0;
    }
  
    .sendbtn{
      width: 20%;
      float: left;
      border-radius: 0;
      text-transform: uppercase;
    }
  }

  .input-item{
    //border-radius: 25px;
    //border: 2px solid #609;
    //padding: 20px; 
  }

  .form-item{
    display:flex;
    flex-direction: row;
    flex:1;
  }

  .example-full-width{
      flex:1;
      border-radius: 25px;
  }
  
  .btn-success{
    //color:white;
    background-color:#4D4DCB;
    margin-bottom:2.3ch;
    margin-right:5px;
    display:block;
    height: 50px;
    width: 50px;
    border-radius:50%;
    filter:  /* the more shadow you add the thicker the border will be */
    drop-shadow(0px 0px 1px #4D4DCB)
    drop-shadow(0px 0px 1px #4D4DCB)
  //  margin-left: 1ch;
   // border: 1px solid #4D4DCB;
  }
  .btn-success:disabled,
  .btn-success[disabled]{
  background-color: #e7e5e5;
  color: #ecebeb;
}
.btn-record{
  margin-bottom:2.3ch;
  margin-right:5px;
  margin-left:5px;
  height: 50px;
  width: 50px;
  border-radius:60%;
 border:none;
}
  // .btn-recording{

  // }
.logo-label{
  font-size:smaller;
    // font-style: italic;
    font-weight:1;
    color:#b8b8b8;
    margin-left: 27ch;
}

.total-form-mat{
  border: 55px solid #000;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
   border: #000 !important;
   filter:  /* the more shadow you add the thicker the border will be */
   drop-shadow(0px 0px 1px #b3b2b2) 
  // drop-shadow(0px 0px 1px #DF5556) 
}

