.chatlist{
  //width:fit-content;
    height: 472px;
    overflow-y: scroll;
  }

  ul {
    list-style-type: none;
}
.list-group-lg{
  list-style-type: none;
  padding-inline-start:10px;
}

.list-group{
  list-style-type: none;
  padding-inline-start:5px;
}

.oxylium-logo{
  background-image: url("/assets/bicabotImage.png");
  background-size:cover;
}
